:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #11191f;
    line-height: 1.5rem;
    overflow-x: hidden;
    color: aliceblue;

}
h4{
    font-weight: 100;
}
footer{
    text-align: center;
}
hr{
    margin-top: 25px;
}